[2018-06-22 17:10] max-dicson-cf opened #4 "Error's compile with Spring boot 2.0.3"
Hello,
I was trying to migrate to the version of Springboot 2 but without success, errors come out in source code.

It would be great if I could migrate.
Thank you

[2018-06-22 17:20] esanchezros commented on #4
Hi max,

I just had a look and it seems `ResourceCondition` has been changed. I'll create a branch and push a fix for Spring Boot 2.0.3

[2018-06-23 13:10] esanchezros commented on #4
Hi max,

I have created branch [using-spring-boot-2](https://github.com/esanchezros/quickfixj-spring-boot-starter/tree/using-spring-boot-2) of the project using Spring Boot 2.0.3. Please let me know if this works for you and I will release version 2.0.0 of the project.

Ed

[2018-06-26 16:49] max-dicson-cf commented on #4
Thanks So Much...
this Work is great... :)

[2018-06-26 16:49] #4 closed

[2018-10-23 01:17] mballoni opened #5 "Artifacts Upgrade"
Would you mind if I upgrade some artifacts, such as QuickfixJ 2.1.0 and Spring Boot 2.0.6?
 Will provide a pull request soon if that's ok

[2018-10-23 01:50] mballoni opened #7 "SLF4J"
What are your thought about using SLF4J at the project?
 This way the responsibility of which logging solution relies on the main application avoiding the usage of slf4j bridges or any other special configuration.

[2018-10-23 14:40] mballoni commented on #5
PR Closed: https://github.com/esanchezros/quickfixj-spring-boot-starter/pull/6

[2018-10-23 14:40] #5 closed

[2018-10-23 14:41] mballoni commented on #7
PR Closed: https://github.com/esanchezros/quickfixj-spring-boot-starter/pull/8

[2018-10-23 14:41] #7 closed

[2018-10-23 19:04] mballoni opened #10 "Proxool dependencies"
I'm trying to understand the proxool dependency declaration.
 The last release was in 2013 and there are several other connection pools available today (such as HikariCP).
 My I remove this dependency to save binary size?

[2018-10-24 11:54] esanchezros commented on #10
This dependency can be removed, it was used included early in the project when I had a database message store example.

[2018-10-24 22:39] mballoni opened #12 "New Release =D"
Hi ESanchez,

 When are you planning on making a new release? (for spring boot 2 with the last PR`s merged)
 I'm migration an application currently using vanilla java to Spring Boot and this starter fits perfectly (good job =D ).

 Speaking about it, is there any todo list that you wanna share? I might help improve this starter.

 Thank you!

[2018-10-25 12:03] esanchezros commented on #12
I will try to release it today or tomorrow. 
For the things to do I will gather a list and will share but the main areas to improve are:
- Provide a mechanism to register event listeners for the MessgeCracker through annotations, provide default listener beans that can be extended- Improve health endpoints information - Improve documentation - Create more example apps - Create configurable mock ac

[2018-10-25 17:42] mballoni commented on #12
Great, thank you!!
 Gonna work with these todos.

[2018-10-25 17:49] esanchezros commented on #12
I think `2.0.x` should now be `master`, I will add another TODO in the list to move `master` into a 1.x branch

[2018-11-28 16:13] esanchezros commented on #12
Hi Marcelo, I'm going to make the 2.0.x branch into master, please let me know if you want me to hold for a bit longer.

[2018-11-28 16:54] mballoni commented on #12
Absolutely, no need to hold =D

[2018-11-29 08:10] esanchezros commented on #12
Done

[2018-11-29 08:10] #12 closed

[2019-04-04 04:10] sangduongvan opened #23 "Disable some logs"
Hi Esanchezros,

When I start FIX server I got so much log like that
2019-04-04 11:05:47.333  INFO 3615 --- [ NioProcessor-2] q.mina.acceptor.AcceptorIoHandler        : MINA session created: local=/127.0.0.1:9878, class org.apache.mina.transport.socket.nio.NioSocketSession, remote=/127.0.0.1:54468
<20190404-04:05:48, FIX.4.2:EXEC->BANZAI, incoming> (8=FIX.4.29=6535=A34=149=BANZAI52=20190404-04:05:

[2019-04-04 07:44] esanchezros commented on #23
Hi sangduongvan, 
I agree, quickfixj lib is very verbose. Let me have a look. 
Regards,Eduardo
    En jueves, 4 de abril de 2019 5:10:26 GMT+1, sangduongvan <notifications@github.com> escribió:

Hi Esanchezros,

When I start FIX server I got so much log like that
2019-04-04 11:05:47.333 INFO 3615 --- [ NioProcessor-2] q.mina.acceptor.AcceptorIoHandler : MINA session created: local=/127.0.0.1:9878,

[2019-04-04 11:11] esanchezros commented on #23
Hi sangduongvan,

I changed default `LogFactory` to create a `ScreenLogFactory` using the `SessionSettings`. Now you should be able to control quickfixj core logging by setting these flags in either `quickfixj-server.cfg` or `quickfixj-client.cfg`:

[code]

I will release a new version shortly with this change.

[2019-04-05 13:45] esanchezros commented on #23
Hi sangduongvan,

Just released 2.4.1. Please let me know if you are happy with it and I will close this issue.

Regards,
Eduardo

[2019-04-06 04:48] sangduongvan commented on #23
Hi Eduardo,
I tried by cannot get version 2.4.1 from maven repo, It's not available yet.
https://mvnrepository.com/artifact/io.allune/quickfixj-spring-boot-starter

[2019-04-06 07:15] esanchezros commented on #23
Hi sangduongvan,

Apologies, the release didn't go through. I just fixed it and should be available in Maven Central.

Regards,
Ed

[2019-04-09 02:18] sangduongvan commented on #23
I checked, all good, thank you very much

[2019-04-10 07:38] #23 closed

[2019-07-13 19:34] JELugoM opened #26 "Log quickfix events to file"
Hi, your library is awesom but i need some help, how can I log to a file the quickfix events, I'm already set in my properties 'logging.file=app.log' but in the file is only the logs for info, debug etc but a need the logs from quickfix, somthing like this:

<20190713-19:33:36, FIX.4.1:BANZAI->EXEC, error> (java.net.ConnectException during connection to localhost/127.0.0.1:9877: java.net.ConnectEx

[2019-07-14 08:58] esanchezros commented on #26
Hi JELugoM,

Could you send your configuration file please?

Thanks

[2019-07-14 14:23] esanchezros commented on #26
Hi JELugoM,

**quickfixj-spring-boot-starter** configures by default a **ScreenLogFactory** bean. If you want you can override it with a **FileLogFactory**. For example, in the client application you can declare this bean:

    @Bean
    public LogFactory clientLogFactory(SessionSettings clientSessionSettings) {
        return new FileLogFactory(clientSessionSettings);
    }

And in the **quickfix

[2019-07-19 08:04] #26 closed

[2019-08-28 17:51] barunindia1 opened #27 "On starting client and server fromApp and toApp method is not getting invoked"
On starting client and server fromApp and toApp method is not getting invoked

[2019-08-28 17:52] barunindia1 commented on #27
Could you plz assist on this?

[2019-08-28 18:44] barunindia1 commented on #27
Hi Esanchezros,
On running client and server both. What I found is, only onCreat, fromAdmin, toAdmin and logon method is getting involved and logger is logging logged to the console but  neither fromApp nor  toApp method logger logging.
In fact both is not getting involved.

Is there any configuration is there? So that after such configuration fromApp method would get called.

I am new to the quic

[2019-08-28 19:19] esanchezros commented on #27
Hi Barun,

From [quickfix](http://www.quickfixengine.org/quickfix/doc/html/application.html) engine docs:

`fromApp` receives application level request. If your application is a sell-side OMS, this is where you will get your new order requests. If you were a buy side, you would get your execution reports here.

`toApp` is a callback for application messages that are being sent to a counterparty.

[2019-08-29 07:05] esanchezros commented on #27
Closing as not an issue

[2019-08-29 07:05] #27 closed

[2019-12-23 10:47] Romanroad6 opened #31 "MessageCracker"
Do you handle the logic in the fromApp() and fromAdmin()?
I overrided the onMessage() of the MessageCracker class to handle the logic.
I want to konw how I can handle the logic with this quickfixj-spring-boot-starter.
Thanks.

[2019-12-23 21:53] esanchezros commented on #31
Hi,

You can implement your `MessageCracker` and inject it into the `Application` bean.

[code]

[code]

And then in your `Application` call the `crack` method in the `fromApp`

[code]

[2019-12-24 15:14] Romanroad6 commented on #31
Thanks! I'll try it.

[2019-12-25 10:11] esanchezros commented on #31
Cool, let me know if you need anything else

[2020-01-05 10:17] #31 closed

[2020-02-18 02:58] duongvansang opened #32 "Multi quickfix client for different users"
Hi @esanchezros,

Could you tell me how can I configure for multi quickfix clients in the same app?

For example, I have a app that need to connect to multi quickfix servers
Quickfix server 1: IP1, port1, user1
Quickfix server 2: IP2, port 2, user2

Many thanks,

[2020-02-19 07:37] esanchezros commented on #32
Hi @duongvansang,

You can create multiple sessions pointing to different hosts in the quickfix config:

`# default settings for sessions
[default]
ConnectionType=initiator
ReconnectInterval=60
SenderCompID=TW

# session definition
[session]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.1
TargetCompID=ARCA
StartTime=12:30:00
EndTime=23:30:00
HeartBtInt

[2020-02-19 07:41] duongvansang commented on #32
Hi @esanchezros,

yes, I tried, it's good now thank you very much
I am trying to run both FIX server and FIX client in the same app, but I got error could not do it

Is there any way to config to run both FIX Server and FIX client in the same app?

[2020-02-19 07:52] esanchezros commented on #32
Yes it's possible. What error are you getting? 

Sent from Yahoo Mail on Android

  On Wed, 19 Feb 2020 at 8:41, duongvansang<notifications@github.com> wrote:
Hi @esanchezros,

yes, I tried, it's good now thank you very much
I am trying to run both FIX server and FIX client in the same app, but I got error could not do it

Is there any way to config to run both FIX Server and FIX client in the sam

[2020-02-19 07:58] duongvansang commented on #32
I got this error when enable both Server and client in the same app
 Error creating bean with name 'clientInitiator' defined in class path resource [config/FIXInitiatorConfig.class]: Unsatisfied dependency expressed through method 'clientInitiator' parameter 3; nested exception is org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'clientLogFactory' def

[2020-02-19 08:00] esanchezros commented on #32
What version are you using? I think I fixed this issue on the latest one (2.5.0)

Sent from Yahoo Mail on Android

  On Wed, 19 Feb 2020 at 8:58, duongvansang<notifications@github.com> wrote:
I got this error when enable both Server and client in the same app
Error creating bean with name 'clientInitiator' defined in class path resource [config/FIXInitiatorConfig.class]: Unsatisfied dependency exp

[2020-02-19 08:01] duongvansang commented on #32
oh I am using 2.4.1, let me try 2.5.0

[2020-02-19 08:05] duongvansang commented on #32
I tried, it works now, great
Thank you

[2020-02-19 08:05] #32 closed

[2020-02-19 08:11] esanchezros commented on #32
That's great. From now on I will publish release notes with new changes/bug fixes. 

Sent from Yahoo Mail on Android

  On Wed, 19 Feb 2020 at 9:05, duongvansang<notifications@github.com> wrote:
I tried, it works now, great
Thank you

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-10 11:16] duongvansang opened #33 "Could not accept connection when run both FIX server and FIX client"
Hi @esanchezros,

When I run both FIX Client and FIX Server in the same app,

And whenever FIX client connection is not connected yet, FIXServer will never accept any request from client.

It should be separated thread, FIX Server does it job and FIX client does it own job.
Thanks
Sang.

[2020-03-10 11:21] esanchezros commented on #33
Hi Sang,
Could you confirm what version you're using?
Thanks

[2020-03-10 11:44] duongvansang commented on #33
I am using latest one I think, version 2.5.0

[2020-03-10 13:25] esanchezros commented on #33
I just created an example project that uses client and server. It seems to be working okay

https://github.com/esanchezros/quickfixj-spring-boot-starter-examples/tree/add-client-and-sender-example/simple-client-and-server

Could you share your project so I can have a look?

[2020-03-12 04:28] duongvansang commented on #33
Thanks you
little bit busy these days, I will try your sample and let you know about it

[2020-03-16 08:56] esanchezros commented on #33
@duongvansang did you have the chance to test the sample project I added?

The spring boot starter creates separate beans for client and server, which instantiate separate instances for the `Initiator` and `Acceptor`. Both client and server should work together okay on the same application.

[2020-03-17 14:51] robertfernanV opened #34 "Example to implement Log with JDBC"
Hi! i using this library is great! but i have a litte problem with configurate login with JDBC in config i have all options with JDBC Login but the application dont regrister anythinks readings blogs of quickfix i find the next one http://quickfix-j.364392.n2.nabble.com/JDBC-storage-not-working-properly-td364865.html "Stephen Bate" Saids : "Because you are using a ScreenLogFactory, all logging is

[2020-03-17 15:50] esanchezros commented on #34
Hi Roberto,
What error are you getting when the app crashes? Could you put your code in github so I can have a look?
    En martes, 17 de marzo de 2020 15:51:32 CET, Roberto Fernandez <notifications@github.com> escribió:

Hi! i using this library is great! but i have a litte problem with configurate login with JDBC in config i have all options with JDBC Login but the application dont regrister any

[2020-03-17 15:57] robertfernanV commented on #34
@esanchezros Hi! thanks for response! take a look
![image](https://user-images.githubusercontent.com/13409353/76874799-76e9e800-684e-11ea-808f-8a993f72edcd.png)

I know what the class MessageStoreFactory cannot cast to JdbcLogFactory, buy my question is how put JdbcLogFactory in ThreadedSocketInitiator or where put  JdbcLogFactory in the configuration of  this? Maybe, Do i have extends for any Int

[2020-03-17 16:01] esanchezros commented on #34
Hi Roberto,
I can't see the cause Exception, could you copy and paste the full stacktrace and the class code?
Thanks
    En martes, 17 de marzo de 2020 16:57:40 CET, Roberto Fernandez <notifications@github.com> escribió:

@esanchezros Hi! thanks for response! take a look

I know what the class MessageStoreFactory cannot cast to JdbcLogFactory, buy my question is how put JdbcLogFactory in ThreadedS

[2020-03-17 16:12] robertfernanV commented on #34
Ok the  full stacktrace:

`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'hearbeatController': Unsatisfied dependency expressed through field 'clientInitiator'; nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type 'quickfix.ThreadedSocketInitiator' available: expected at least 1 bean which

[2020-03-17 17:10] esanchezros commented on #34
Hi Roberto, 
Are you trying to override the `LogFactory` or the `MessageStoreFactory`?
LogFactory logFactory = (LogFactory) new JdbcLogFactory(clientSessionSettings);Regards 
Sent from Yahoo Mail on Android

  On Tue, 17 Mar 2020 at 17:12, Roberto Fernandez<notifications@github.com> wrote:

Ok the full stacktrace:

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating be

[2020-03-17 17:11] robertfernanV commented on #34
@esanchezros  can you delete all code plz?

[2020-03-17 17:12] robertfernanV commented on #34
@esanchezros have any keys sorry my bad!

[2020-03-17 18:18] esanchezros commented on #34
Did you get your issue resolved

[2020-03-17 18:38] robertfernanV commented on #34
@esanchezros  Your advice helped me a lot,  Here is an example for someone in the future:

[code]

I use net.sourceforge.jtds.jdbc.Driver and the cfg i dont write anythink

[2020-03-17 18:39] robertfernanV commented on #34
please delete the code! thanks

[2020-03-17 18:52] #33 closed

[2020-03-17 18:53] #34 closed

[2020-04-02 15:03] robertfernanV commented on #31
Hi! if i extends from MessageCracker in  Application on implementes  onMessage
it should work? i try but dont work

[2020-04-05 16:00] esanchezros commented on #31
Hi,

I just added an example on how to use the `MessageCracker` in the examples project https://github.com/esanchezros/quickfixj-spring-boot-starter-examples/tree/master/simple-client/src/main/java/io/allune/quickfixj/spring/boot/starter/examples/client

Let me know if that's what you're looking for

[2020-04-07 22:44] robertfernanV commented on #31
Hello thanks for the example! It helped me a lot!

[2020-04-14 16:09] robertfernanV opened #35 "How add custom quickfix engine!"
Hi, I find myself needing to add a custom version of quickfix to support my custom messages.
What would be the procedure to add this version of quickfix to this project?

[2020-04-14 16:30] esanchezros commented on #35
Hi Roberto,

You can exclude the version of `quickfixj-core` and `quickfixj-messages-all` from `quickfixj-spring-boot-starter` (and `quickfixj-spring-boot-actuator` if you use it) and include your custom version:

	<dependency>
		<groupId>io.allune</groupId>
		<artifactId>quickfixj-spring-boot-starter</artifactId>
		<exclusions>
			<exclusion>
				<groupId>org.quickfixj</groupId>
				<artifactId>q

[2020-04-15 08:45] alepekhin opened #36 "How to add sessions programmatically"
It's not an issue, it is a question. Everything works fine, thank you for publishing this project!
The question is how to add sessions dynamically in initiator bypassing configuration file?
Suppose we work with a single FIX server where users can be registered/unregistered so we can not
place their sessions into config file because we simply don't know their names.

[2020-04-15 09:25] esanchezros commented on #36
Hi alepekhin,

In your service class or can autowire the `Initiator` and then create, add or remove dynamically a session:

	@Autowired
	private Initiator clientInitiator;

	...

	clientInitiator.addDynamicSession(session);
	clientInitiator.createDynamicSession(session);
	clientInitiator.removeDynamicSession(session);

[2020-04-17 09:00] alepekhin commented on #36
Thank you for a hint. I have tried it, but probably I don't quite understand the topic or may be addDynamicSession() is not fully implemented, so I got the errors like "Responder not set"...
After all I have ended with creating separate initiators for every session, like
[code]

In this way it works

[2020-04-17 12:18] esanchezros commented on #36
Hi alepekhin,

I found this link that maybe useful https://www.quickfixj.org/usermanual/2.1.0/usage/acceptor_dynamic.html

If you could share your code I will have a look and try make it work the way you originally intended.

[2020-04-17 12:41] esanchezros commented on #35
@robertfernanV, did that work for you?

[2020-04-17 13:28] alepekhin commented on #36
I have also seen this link. It's not very clear, it's about acceptor and does not include username/password as I seen in DynamicAcceptorSessionProvider class. I did not find DynamicInitiatorSessionProvider also. So I will stay with my solution. Anyway clientQuickFixJTemplate works, listeners work too - it's enough for me. Thank you once more for your project. I have added a star to it :)

[2020-04-17 13:35] #36 closed

[2020-04-17 14:43] esanchezros commented on #36
Perhaps the server needs to be configured with the `DynamicAcceptorSessionProvider` and the `clientInitiator` is the one requesting the sessions to be added dynamically.

[2020-04-18 20:16] robertfernanV commented on #35
@esanchezros Thanks a lot

[2020-04-20 14:30] #35 closed

[2020-04-20 14:34] esanchezros opened #37 "Enhancements"
Hi,

I was wondering if there are any features or enhancements you would like to see in the quickfixj spring boot starter. I have a few things in mind to improve the library and also wanted to work on making the examples better but I would like to hear from people using the library.

Thanks
Eduardo

[2020-04-22 08:38] raph1mm opened #38 "InstanceAlreadyExistsException exception during integration tests"
Hello,

I'm having some issues during integration tests in Spring Boot.

I have app which uses Quickfix Client, here's my main class:

[code]

I've got some integrations tests and during the second one (and next) I got this exception:

[code]

You can see "Caused by: javax.management.InstanceAlreadyExistsException" - it looks like the previous test didn't destroy bean related to Quickfix. What's t

[2020-04-22 08:42] raph1mm commented on #37
Some integration testing tips and enhancements for apps using this lib would be nice. :)

[2020-04-22 09:30] esanchezros commented on #38
Hi raph1mm,

I will have a look but you can try setting `quickfixj.client.jmx-enabled=false` if you don't need the MBean for your tests.

[2020-04-22 09:36] esanchezros commented on #38
Could you share your project in GitHub so I can have a look?

[2020-04-22 09:38] raph1mm commented on #38
I'm quite new to Java world, but I believe I need it - one of integration test I have is requesting my application using Rest Assured. I need complete application for this.

I've found not ideal solution. I can prevent reloading application context between test classes if all test classes have the same parent class, for example:

[code]

[2020-04-22 09:41] raph1mm commented on #38
I can't - because of NDA. :(

Maybe I can provide more information for you? What do you want to know?

[2020-04-22 09:58] esanchezros commented on #38
I wanted to see the test classes and the spring boot test config. I will try to reproduce this issue

[2020-04-22 10:27] raph1mm commented on #38
Ok. I'm preparing some code for you.

[2020-04-22 11:47] esanchezros commented on #37
That's a good suggestion @raph1mm, I will try adding an example specific to testing with Spring Boot Test.
Thanks

[2020-04-22 11:54] raph1mm commented on #38
Ok. This code is not pretty, but it's only proof of concept for you:

I created this controller:

[code]

and some tests (tests have no addiotional  setup - only via annotations):

[code]

[code]

[code]

I had to use @DirtiesContext in the last one to enforce situation with application reloading (in my orginal code it reloads context without it).

When I run:

`mvn clean test`

InstanceAlreadyExi

[2020-04-23 14:12] esanchezros commented on #38
Hi @raph1mm

I just added a branch with your code and tests and everything worked fine (https://github.com/esanchezros/quickfixj-spring-boot-starter-examples/tree/add-spring-integration-test - See `simple-server-sender`)

Just a thought, could you check if you have another instance of the app running elsewhere? It could be that you already have a server running and that, having `quickfixj.server.j

[2020-04-24 09:23] raph1mm commented on #38
Hi @esanchezros

Thank you for checking. :)

I ran your'e example. Please add

`@DirtiesContext(classMode = DirtiesContext.ClassMode.BEFORE_EACH_TEST_METHOD)`

before every test class. Then you can see Spring Boot logo twice during tests - but even then - your example works fine.

I noticed that your setup is different. For example - I cannot see "ThreadedSocketInitiator" bean. Maybe here is somet

[2020-04-24 10:59] esanchezros commented on #38
Hi @raph1mm

I changed the tests and added the `@DirtiesContext` on every class, plus added the config as in the original post, still everything build fine.

Before running any tests, could you run `jconsole` from the command line and see if there is already a local process running?

Thanks

[2020-04-27 13:46] raph1mm commented on #38
Hi,

I only see this:

![image](https://user-images.githubusercontent.com/28047761/80379339-427e3880-889e-11ea-8cc8-4a55493bda3e.png)

[2020-05-01 06:49] esanchezros commented on #38
Hi @raph1mm,

I'm still curious to see why you were getting this error. Did you get to the bottom of it?

Thanks

[2020-05-01 21:27] peyerroger commented on #37
Hi @esanchezros

Where would you put these examples? I have a reasonable integration test for an application that acts as initiator. The mock acts as acceptor.  You can configure the mock to send a series of execution reports upon receiving a NewOrderSingle, an OrderCancelRequest or an OrderCancelReplaceRequest with a specific ClOrdId. This way you can easily mock an exchange or a broker.

Cheers,

[2020-05-01 21:40] esanchezros commented on #37
Hi @peyerroger

Feel free to create a new module in the examples project. Having an integration tests module will be really useful for other users.

Thanks

[2020-05-04 09:15] esanchezros commented on #38
Hi @raph1mm

tl;dr

I managed to reproduced your issue and found the root cause.

Full explanation

The spring starter register two beans, `serverAcceptorMBean` and `clientInitiatorMBean`, that create a JmxExporter. The object needs `REGISTRATION_REPLACE_EXISTING` set in registration behaviour to override the existing `MBean`. This comment is in the`JmxExporter` javadoc:

     * Actually register

[2020-05-04 10:49] raph1mm commented on #38
Hi @esanchezros

I wanted to reply that I haven't found other solution than common parent class for all tests.

I'll try your workaround. :)

[2020-05-04 11:08] raph1mm commented on #38
This setup works for me:

[code]

Anyway - thank you very much for your time and helping me with this. :)

[2020-05-04 11:18] #38 closed

[2020-05-04 12:53] esanchezros commented on #38
Hi @raph1mm

I've release version `2.5.2` with a fix for this issue. Could you update your version and try with `@DirtiesContext` on separate classes?

Thanks

[2020-05-04 13:53] raph1mm commented on #38
I've just tested it. It works just fine. :)

Thank you, again.

[2020-07-09 17:51] aniket0788 commented on #37
Hi @esanchezros

I am getting this error when trying to initiate connection

`inbound queue size > upper watermark (-1), socket reads suspended`

because of this acceptor is not receiving any messages (fromApp is not getting called !)

Could you please have a look and fix it? Or, I am missing something where you could help?

[2020-07-09 17:54] esanchezros commented on #37
Hi @aniket0788

Could you please create a separate issue? This thread is to discuss and propose new enhancements for the library

Thanks

[2020-07-09 18:08] aniket0788 opened #45 "'Socket reads suspended' while trying to establish FIX connection"
Getting the below snippet in logs (both initiator and acceptor) while establishing a FIX connection using quickfixj-spring-boot-starter

`<20200709-17:57:30, FIX.4.4:client->server, event> (inbound queue size > upper watermark (-1), socket reads suspended)`

because of this FIX engine is not receiving any messages (fromApp is not getting called !)

Could you please have a look?

Thanks

[2020-07-09 18:12] aniket0788 commented on #37
Thanks @esanchezros , I have opened an issue [here](https://github.com/esanchezros/quickfixj-spring-boot-starter/issues/45)

[2020-07-09 18:46] esanchezros commented on #45
Could you upload the code to GitHub? I've never seen this error before but got the feeling it may be down to incorrect configuration (inbound queue size?)

Sent from Yahoo Mail on Android

  On Thu, 9 Jul 2020 at 20:08, aniket0788<notifications@github.com> wrote:

Getting the below snippet in logs (both initiator and acceptor) while establishing a FIX connection using quickfixj-spring-boot-starter

[2020-07-11 06:52] aniket0788 commented on #45
you are right.. there was a problem in the configuration of data dictionary.
Closing this issue.

[2020-07-11 06:52] #45 closed

[2020-07-27 21:33] aniket0788 opened #46 "Empty FileStorePath"
Hi @esanchezros

I am getting outOfMemory error in my spring boot application, which reads huge data volume from Kafka Topics and send to FIX Initiator Engine. On analysis I found that, this is because of the internal MessageQueue that QuickFixJ uses to send the gap fills.
To avoid storing it in memory I used FileStoreMaxCachedMsgs=0 (as per quickfixj documentation), but somehow it is not taking e

[2020-07-27 21:49] esanchezros commented on #46
Hi @aniket0788,

Could you send your quickfixj configuration?

[2020-07-27 22:02] aniket0788 commented on #46
Please find it below:

[code]

[2020-07-27 22:19] esanchezros commented on #46
Thanks, could you also send the stacktrace of the exception you're getting?

Also, are you creating a `MessageStoreFactory` bean in your spring boot application of type `FileStoreFactory`? The default one that the spring boot starter creates, if no other is defined, is a `MemoryStoreFactory`.

[2020-07-28 11:04] esanchezros commented on #46
Hi @aniket0788

I have created a `FileStoreFactory` on my test app like this:

	@Bean
	public MessageStoreFactory clientMessageStoreFactory(SessionSettings clientSessionSettings) {
		return new FileStoreFactory(clientSessionSettings);
	}

and I can see the file store files being created in the file system:

![image](https://user-images.githubusercontent.com/627002/88657819-c41a7800-d0d2-11ea-9535-

[2020-07-28 12:30] aniket0788 commented on #46
Thanks @esanchezros , Yes I did the same and it works now.
But I ran into another issue, these files are very huge in mycase (especially .body file) because of the large messages that I am sending (tag 213 -> XmlData) and its occupying GBs on disk within few minutes of app run.
Is there a way to clear them after sometime or may be some rolling policy?

[2020-07-28 13:15] esanchezros commented on #46
Hi @aniket0788,

I checked quickfixj configuration guide and it seems there aren't any options to control the file size or provide with a rolling policy.

Perhaps you could consider using MySql or Postgres store factories and then have a job that clears out old rows horly, daily, etc

[2020-07-28 13:15] #46 closed

[2020-08-04 22:01] esanchezros opened #48 "Make `MessageStoreFactory` and `LogFactory` beans auto configurable"
Currently, the `MessageStoreFactory` and `LogFactory` beans are defaulted to `FileStoreFactory` and `ScreenLogFactory` types and the configuration for these factories lives in the quickfixj config file. These factories should be auto configurable via a property in the spring boot starter that will automatically create the correct bean:

    quickfixj.server.message-store-factory=memory # [cachedfi

[2020-08-06 17:36] aniket0788 opened #49 "quickfixj-spring-boot-actuator doesn't work"
Hi @esanchezros

I have integrated this in my pom.xml as documented by you [here](https://github.com/esanchezros/quickfixj-spring-boot-starter)

[code]
and
[code]

But, its not working and endpoint is not populated. Is something related with the groupId `'org.springframework.boot'` i.e.

[code]

I have seen in your examples, you used:
[code]

Is there any restrictions in using the actuator? I am d

[2020-08-06 20:13] esanchezros commented on #49
Hi @aniket0788

Do you see anything in the logs?

[2020-08-07 05:50] aniket0788 commented on #49
Hi @esanchezros - Got it working after removing spring-boot-starter-actuator from pom.xml. So is `quickfixj-spring-boot-starter ` is a wrapper on top of `spring-boot-starter-actuator`? And by using it would I be able to get all the features of spring-boot-actuator? Please clarify.
Also, is there an endpoint that I can enable to monitor the health or status of running FIX engine?

[2020-08-07 06:28] esanchezros commented on #49
Hi @aniket0788,
`quickfixj-spring-boot-actuator` makes use of `spring-boot-starter-actuator`. `quickfixj-spring-boot-starter` doesn't use the actuator. I noticed that `quickfixj-spring-boot-parent` has the actuator on its dependency management section. I need to double check why it's there, I can't think of a reason why it should be, but I wonder if that could be messing with the dependences. Glad

[2020-08-07 12:24] aniket0788 commented on #49
Sorry @esanchezros, did a typo in my above comment. Wanted to mention `quickfixj-spring-boot-actuator`. Edited it.

[2020-08-08 08:39] esanchezros commented on #49
Hi @aniket0788, there is no endpoint to monitor the status of the connections yet. I think it's a good feature to add to the actuator. I will create a new enhancement to include in a future release.

With regards to `quickfixj-spring-boot-actuator` being a wrapper on top of `spring-boot-starter-actuator` I need to have a look at this. It may be that `spring-boot-starter-actuator` is not needed as

[2020-08-08 08:41] aniket0788 commented on #49
Thanks @esanchezros , I will wait for this awesome feature.

[2020-08-08 08:46] esanchezros commented on #49
No worries @aniket0788. If you have any suggestions on how to determine the health or status of running FIX engine or want to implement it, you are more than welcome.

[2020-08-08 10:52] aniket0788 commented on #49
Thanks @esanchezros. Frankly, I just started with FIX protocol/QuickFixJ and understanding its semantics. I don't have any suggestions as of now, on how to determine the status of FIX engine. But surely would let you know if I come across anything.

[2020-08-08 10:52] #49 closed

[2020-08-09 19:06] esanchezros opened #50 "Implement Session listener bean"

[2020-08-09 19:06] esanchezros opened #51 "Implement Health endpoint in actuator"

[2020-08-09 19:10] esanchezros opened #52 "Implement new component to offload messages to queuing system"

[2020-08-11 13:18] esanchezros opened #53 "Provide a mechanism to override quickfixj configuration via application properties"

[2020-08-19 13:23] esanchezros opened #54 "Actuator endpoint is not created when `quickfixj.client.concurrent` is set to true"
Setting the property `quickfixj.client.concurrent` or `quickfixj.server.concurrent` prevents the actuator endpoint to be exposed

[2020-08-19 17:31] esanchezros commented on #54
Fixed on version 2.7.0

[2020-08-19 17:31] #54 closed

[2020-08-19 17:32] esanchezros commented on #48
Done on 2.7.0

[2020-08-19 17:32] #48 closed

[2020-09-22 09:39] raj75017 opened #58 "Add support for FIX50SP2 when sending messages with QuickFixJTemplate"
getApplicationVersionID(Session session) in QuickFixJTemplate always returns ApplVerID.FIX50 when BeginString = FixVersions.BEGINSTRING_FIXT11

This means FIX50SP1 or FIX50SP2 are not supported.

Modify logic accordingly to support them otherwise valid messages in FIX50SP2 are incorrectly treated as invalid messages e.g.
167=IRS is valid in FIX50SP2 but invalid in FIX50

[2020-09-22 10:19] esanchezros commented on #58
Hi @raj75017

Thanks for raising the bug. I think this was an oversight when creating the `QuickFixJTemplate`. Now, I'm wondering the correct logic to use in determining the value for `ApplVerID`, if `BeginString` is equals to `BEGINSTRING_FIXT11`:

- Take the value of `ApplVerID` on the `Message`.
- If `ApplVerID` is not specified on the message (I believe it's mandatory but it may not be include

[2020-09-22 10:44] raj75017 commented on #58
Yes I think your proposed logic would work (at least for the scenarios I can think of!)

Thanks @esanchezros

[2020-09-27 12:27] esanchezros commented on #58
Fixed on version 2.7.1

[2020-09-27 12:27] #58 closed

[2020-10-05 09:37] esanchezros opened #60 "Remove redundant QuickFixTemplate for client and server"
There is no need to have two separate autoconfigured `QuickFixTemplate` for client and server. Only one should be created, depending on whether an `Initiator` or `Acceptor` bean is found in the Spring context.

[2020-12-03 07:33] #52 closed

[2020-12-03 07:33] #51 closed

[2020-12-03 07:33] #50 closed

[2020-12-03 07:34] #53 closed

[2020-12-03 07:34] #37 closed

[2021-01-18 18:59] esanchezros commented on #60
Done as part of 2.8.0

[2021-01-18 18:59] #60 closed

[2021-01-27 14:35] esanchezros opened #62 "Allow ConnectorManager to forcibly disconnect sessions"

[2021-02-26 14:36] aniket0788 opened #64 "Dependency convergence Error for mina-core"
Hi @esanchezros @mballoni @chrjohn @bhanuhiteshi ,

Kudos on your ongoing great work for the community ! Hope you guys are doing great.

Would like to highlight a Dependency Convergence Error which arises when maven enforcer plugin is used.
Actually, mina-core is present as a direct dependency in quickfixj-spring-boot-starter and also inside quickfixj-core.
I believe direct dependency can be remov

[2021-02-26 19:49] esanchezros commented on #64
Hi @aniket0788,

Thanks for the heads up. I can't remember why it was added in the first place but it's not required as it's pulled transitively from quickfixj-core. I'm a bit swamped with work at the moment but feel free to create a PR to get this fixed.

[2021-02-27 10:09] esanchezros commented on #62
Merged

[2021-02-27 10:09] #62 closed

[2021-02-27 16:38] aniket0788 commented on #64
Hi @esanchezros created a PR, please have a look.

[2021-03-18 11:27] #64 closed

[2021-05-04 04:04] style-x7 opened #67 "Request to update lib version in maven repo"
Hi there,

Thanks for the wonderful lib :) The latest commits that you've made, possible to update maven repo which is currently at 2.81

Need the commit/fix to remove the Mina core dependency. And I can only pull via maven repo.

[2021-05-04 04:49] esanchezros commented on #67
Hi,

The Mina dependency come transitively from the quickfixj lib, which is used to establish the connection. Could you explain the issue that you're having?

[2021-05-04 20:36] esanchezros commented on #67
I will try to release a new version tomorrow morning.

[2021-05-09 09:40] esanchezros commented on #67
Sorry for the late response. Maven Central was having issues with staging repositories and wasn't able to release software. Version 2.8.3 is now available

[2021-05-09 09:40] #67 closed

[2021-05-21 02:57] style-x7 commented on #67
Thanks Sir. The Mina dependency was causing lib conflict with the server hosting this. Though I can resolve with exclusion but 2.8.3 is better :)

[2021-06-18 07:09] AntonyM55 opened #68 "config file not work ?"
If I change the config path to different file such as /root/quickfixj-client.cfg, it doesn't work.

quickfixj:
  client:
    config: /root/quickfixj-client.cfg

[2021-06-18 09:05] esanchezros commented on #68
Hi @AntonyM55

The quickfixj Spring Boot starter uses the `PathMatchingResourcePatternResolver`  to load the config file. The configuration is resolved using the following approach:

- By a configuration file defined by the `quickfixj.server.config` or `quickfixj.client.config` property.
- By the presence of the `quickfixj.server.config` or `quickfixj.server.config` system property.
- By a `quickf

[2021-06-19 02:28] AntonyM55 commented on #68
Thank you very much!

[2021-06-19 02:28] #68 closed

[2021-06-24 12:02] esanchezros opened #69 "Be able to autoconfigure an ExecutorFactory for the Initiator and Acceptor"

[2021-07-01 14:05] esanchezros opened #70 "Inject ResourceLoader into SessionSettingsLocator"

[2021-07-01 14:18] #70 closed

[2021-07-01 17:38] #69 closed

[2021-07-01 17:38] esanchezros commented on #69
Done

[2021-09-08 15:15] rajendra1 opened #73 "Missing json conversion"
Hi, We are integrating our trading platform with Kafka, initially I was looking for Fix transoformation library via Connetor. but that was limiting us .
   Well When I using this library its fabulous to deal with FIX engine, but wondering why we don't
     message.toJson() methods  similar to message.toXml()
    I can certainly make use of xml to transform in Json but that will add couple of milli

[2021-09-08 18:22] esanchezros commented on #73
Hi Rajendra, perhaps I don't fully understand your question. Do you mean you'd prefer to have a `toJSON` method on the `Message` class? This Spring Boot starter is just a wrapper around

[2021-09-08 18:22] #73 closed

[2021-10-16 02:35] MerNguyen opened #74 "Upgrade to quickfixj 2.3.0 core"
Would you have know to up to ver quick-fixj core 2.3.0

[2021-10-18 10:35] esanchezros commented on #74
https://github.com/esanchezros/quickfixj-spring-boot-starter/releases/tag/2.10.0

[2021-10-18 10:35] #74 closed

[2021-11-14 16:55] esanchezros opened #76 "Update QuickFix/J version"
Update to use version 2.3.1 containing important bug fix

[2021-12-11 13:28] #76 closed

[2022-01-24 10:11] esanchezros opened #78 "Allow quickfixj config to be specified in spring properties"

[2022-02-10 12:24] #78 closed

[2022-02-11 12:21] david-gibbs-ig opened #82 "SessionSettingsLocatorTest Fails on master with Java 11"
SessionSettingsLocatorTest.shouldLoadDefaultFromSystemProperty:48  SettingsNotFound

https://stackoverflow.com/questions/2680837/java-net-unknownhostexception-on-file-method

$ java -version
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)

[2022-02-11 13:47] #82 closed

[2022-02-18 09:34] MZlatev-MDigital opened #84 "quickfixj.server.configString not picked up"
I have a SpringBoot application that depends on quickfixj-spring-boot-starter. The application fails to start up when using `quickfixj.server.configString` in yaml instead of `quickfixj.server.config`.

Here is my example comfig:
[code]

The actual error:
`
2022-02-18 11:32:46.530  WARN 3093460 --- [           main] ConfigServletWebServerApplicationContext : [] Exception encountered during context

[2022-02-18 09:54] esanchezros commented on #84
Hi @MZlatev-MDigital,

I haven't had the chance to release this yet as I'm testing the new features. I'll try to do it today.

In the meantime you can clone the project, build it locally and use the snapshot version.

Thanks

[2022-02-18 10:28] esanchezros commented on #84
Hi @MZlatev-MDigital,

I just release version 2.11.0 to Maven Central, which includes this feature (`configString`). Could you try with this version please?

Thanks
Ed

[2022-02-18 14:17] esanchezros commented on #84
You're missing the `classpath:` prefix

[2022-02-18 14:27] MZlatev-MDigital commented on #84
Thanks for noting that. Previously (version `2.7.1`) it was not needed.
I confirm that everything is working as expected. I am closing this ticket. This feature will ease running quickfixj in k8s.
Thanks for the support!

[2022-02-18 14:27] #84 closed, assigned to nobody

[2022-06-02 15:40] jgarciasm opened #85 "Problem with postgresql driver"
I tried to create a project based on quickfixj-spring-boot-starter-examples (simple-client-with-database) but with postgresql. I am using JDK 17. I'm pretty sure it's my mistake and I've tried to fix it in many ways but I can't find the problem. Please help me if it is my mistake.

The problem is this:

When I tried to start my application it fails and show nest message:
[code]
That happens when t

[2022-06-03 06:31] esanchezros commented on #85
Hi Jonad,
Thanks for reporting the issue. Proxool is very old and has no maintainers but it's the default data source shipped with quickfixj. 
For the time being I have pushed a fix for the problem, basically setting the `DataSource` bean in the jdbc factories:
@Bean
public MessageStoreFactory clientMessageStoreFactory(SessionSettings clientSessionSettings, DataSource dataSource) {
   JdbcStoreFac

[2022-06-03 11:30] jgarciasm commented on #85
Thank you a lot @esanchezros!!!

Now it works like a charm.

[2022-06-12 12:02] maolinHu opened #86 "use @EnableQuickFixJClient HTTP interface unreachable"
SpringBoot with QuickFIX/J Client, After the Application is started, all web interfaces cannot be accessed, include http://localhost:8080/actuator/quickfixjclient

[2022-06-12 12:05] esanchezros commented on #86
Hi @maolinHu

Could you try adding this to your application.yml:

[code]

[2022-06-12 12:32] esanchezros commented on #86
Also, make sure you include the `spring-boot-starter-web` dependency in your pom:

[code]

[2022-06-12 13:04] maolinHu commented on #86
Yes, I have, but it still doesn't work

[2022-06-12 13:18] #85 closed

[2022-06-12 13:20] esanchezros commented on #86
Have a look at this example https://github.com/esanchezros/quickfixj-spring-boot-starter-examples/tree/master/simple-client from the examples repo. It's a web app with quickfixj enabled. If the problem persists could you send your pom and Spring Boot config to check?

[2022-06-12 13:26] maolinHu commented on #86
this is my application.yaml
`server:
  port: 8081

quickfixj:
  client:
    config: classpath:quickfixj-client.cfg
    auto-startup: false

management:
  endpoint:
    quickfixjclient:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

`

[2022-06-12 13:27] maolinHu commented on #86
this is my pom.xml
`<dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>

        <dependency>
            <groupId>io.al

[2022-06-12 13:31] maolinHu commented on #86
but I use @EventListener don't `implements Application`  interface

[2022-06-12 13:36] esanchezros commented on #86
What happens if you remove the `@EnableQuickFixJClient` annotation and QuickFixJ Spring Boot starter dependency? Does the application start?

[2022-06-12 13:53] maolinHu commented on #86
If remove, all interfaces can be accessed normally

[2022-06-12 13:58] maolinHu commented on #86
this is my Controller, when I add @EnableQuickFixJClient annotation, this interface http://localhost:8081/fix/test will unreachable
`
@Slf4j
@RequestMapping("/fix")
@RestController
public class TestController {

    @GetMapping("/test")
    public String test() throws Exception {
        log.info("test");
        return "success";
    }

}
`

[2022-06-12 15:22] esanchezros commented on #86
I added your REST controller to https://github.com/esanchezros/quickfixj-spring-boot-starter-examples/tree/master/simple-client and I can access http://localhost:8081/fix/test and http://localhost:8081/actuator/quickfixjclient fine

[2022-06-13 03:28] maolinHu commented on #86
If I set SocketUseSSL=Y,  it's ok, But if I set SocketUseSSL=N, all interface will unreachable.
this is my client start log
2022-06-13 11:21:43.183  INFO 20168 --- [pool-1-thread-1] i.a.q.s.b.s.connection.ConnectorManager  : start: Starting ConnectorManager
2022-06-13 11:21:43.235  INFO 20168 --- [pool-1-thread-1] quickfix.DefaultSessionSchedule          : [FIXT.1.1:UAT-ATLTD-MKT1->UAT-ICBCS-ATLTD

[2022-06-13 06:09] esanchezros commented on #86
HTTP endpoints are accessible, we have multiple services using the Spring Boot starter using HTTP on a daily basis. Do you mean you can't access the FIX endpoints? I noticed you have `auto-startup: false`. Unless you're starting the connector manually on start up, you will need to set `auto-startup: true` in order to start the connection with the acceptor

[2022-06-13 07:39] maolinHu commented on #86
Set auto-startup: false, because I suspect that the main thread is blocked by the client when the main thread is started, So I call clientConnectorManager.start()  on another thread after the service is started.
I just found that this happens when the client sends a message to the server, but does not receive any response. then all http interface cannot be accessed. send message is this (toAdmin:

[2022-06-13 12:27] #86 closed

[2022-06-13 12:49] esanchezros commented on #86
No worries. Thanks for using the library

[2022-07-02 11:35] jcorderop opened #89 "https://advisory.checkmarx.net/advisory/vulnerability/CVE-2021-42550/"
hi

Trying to use:

<dependency>
    <groupId>io.allune</groupId>
    <artifactId>quickfixj-spring-boot-starter</artifactId>
    <version>2.12.0</version>
</dependency>

I saw it has those vulnerabilities:
https://advisory.checkmarx.net/advisory/vulnerability/CVE-2021-42550/
https://advisory.checkmarx.net/advisory/vulnerability/CVE-2022-22965/
...

I wanted to double-check with you if you knew abo

[2022-07-02 18:30] esanchezros commented on #89
Hi @jcorderop, thanks for reporting.

The quickfixj spring boot starter inherits from the `spring-boot-starter-parent` artifact, which itself inherits from the `spring-boot-dependencies` artifact. This latter artifact is the Spring Boot BOM, which is just a Maven POM file with a large dependencyManagement section. This library only sets the version for `quickfixj` and uses a couple other libraries

[2022-07-04 10:31] esanchezros opened #90 "Upgrade spring-boot-starter-parent version"

[2022-07-07 09:44] #89 closed

[2022-07-23 07:09] miladamery opened #92 "How to prevent automatic logon of Initiator"
Hi. I want to disable automatic logon of Initiator and control it manually. according to this [stackoverflow](https://stackoverflow.com/a/69493831/6574475) link seems that its possible in quickfixj. how can I do it in starter?

[2022-07-23 11:52] #92 closed

[2022-07-23 11:53] miladamery commented on #92
Set auto-startup to false

[2022-07-23 11:57] esanchezros commented on #92
You can also control the logon action by implementing the `canLogon` method from the application interface

[2022-08-30 06:11] affirmatives opened #93 "utf-8 please"
thanks

[2022-08-30 06:12] esanchezros commented on #93
Hi @affirmatives, could you please elaborate your question? Thanks

[2022-09-14 11:57] esanchezros commented on #93
Closing due to lack of details

[2022-09-14 11:57] #93 closed